### log级别
#slog_level=ERROR
slog_level=DEBUG
#slog_level=INFO
### log文件名
slog_log_name=server.log
### log 文件最大大小(单位M)
slog_log_maxsize=80M
### log文件最多个数
slog_log_maxcount=20
### log缓冲区大小(单位KB,默认512KB)
slog_flush_size=2048
### log缓冲刷新间隔(单位s,默认1s)
slog_flush_interval=5
### log动态更新配置参数的时间间隔(单位s,默认60s)
config_update_interval=30

logger.default.level=debug
#指定的模块可以设定指定的级别，填写模块名，逗号分隔（英文输入法输入）
logger.debug.level=thread_manager  , task_manager , common
logger.debug.level=
logger.error.level=
logger.off.level=
logger.logfile=
logger.filesize=



