<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CP_CONT</key>
	<dict>
		<key>A</key>
		<string>0x292e47</string>
		<key>B</key>
		<string>0x313233</string>
		<key>C</key>
		<string>0x7a7c80</string>
		<key>D</key>
		<string>0xabaeb2</string>
		<key>E</key>
		<string>0xc4c7cc</string>
		<key>F</key>
		<string>0x626466</string>
		<key>G</key>
		<string>0xffffff</string>
		<key>H</key>
		<string>0xe53917</string>
		<key>I</key>
		<string>0xffffff</string>
	</dict>
	<key>CP_BG_LINE</key>
	<dict>
		<key>A</key>
		<string>0xc8cacc</string>
		<key>B</key>
		<string>0xe1e3e5</string>
		<key>C</key>
		<string>0xebedf0</string>
		<key>D</key>
		<string>0xffffff</string>
		<key>E</key>
		<string>0xf5f7fa</string>
	</dict>
	<key>CP_LINK_TIP</key>
	<dict>
		<key>A</key>
		<string>0x3385ff</string>
		<key>C</key>
		<string>0x3668b2</string>
		<key>D</key>
		<string>0xf55925</string>
		<key>E</key>
		<string>0x1e2133</string>
		<key>F</key>
		<string>0x00c0f0</string>
		<key>G</key>
		<string>0x00acd7</string>
	</dict>
	<key>CP_OTHER</key>
	<dict>
		<key>A</key>
		<string>0x673699</string>
		<key>B</key>
		<string>0xff5460</string>
		<key>C</key>
		<string>0x26bf85</string>
		<key>D</key>
		<string>0x33aaff</string>
		<key>E</key>
		<string>0xff821c</string>
	</dict>
</dict>
</plist>
