<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CP_CONT</key>
	<dict>
		<key>A</key>
		<dict>
			<key>color</key>
			<string>0xffffff</string>
			<key>alpha</key>
			<string>0.83</string>
		</dict>
		<key>B</key>
		<dict>
			<key>color</key>
			<string>0xffffff</string>
			<key>alpha</key>
			<real>0.66</real>
		</dict>
		<key>C</key>
		<dict>
			<key>color</key>
			<string>0xffffff</string>
			<key>alpha</key>
			<real>0.5</real>
		</dict>
		<key>D</key>
		<dict>
			<key>color</key>
			<string>0xffffff</string>
			<key>alpha</key>
			<real>0.33</real>
		</dict>
		<key>E</key>
		<dict>
			<key>color</key>
			<string>0xffffff</string>
			<key>alpha</key>
			<real>0.25</real>
		</dict>
		<key>F</key>
		<dict>
			<key>color</key>
			<string>0xffffff</string>
			<key>alpha</key>
			<real>0.66</real>
		</dict>
		<key>H</key>
		<dict>
			<key>color</key>
			<string>0xbf2b21</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>J</key>
		<dict>
			<key>color</key>
			<string>0xffffff</string>
			<key>alpha</key>
			<real>0.5</real>
		</dict>
		<key>s_rightbar_switch_color</key>
		<dict>
			<key>color</key>
			<string>0x33aaff</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>s_navbar_title_color</key>
		<dict>
			<key>color</key>
			<string>0x9bafcc</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>s_tabbar_text_color_n</key>
		<dict>
			<key>color</key>
			<string>0</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>s_tabbar_text_color_s</key>
		<dict>
			<key>color</key>
			<string>0</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>s_actionbar_text_line_color_s</key>
		<dict>
			<key>color</key>
			<string>0x2e77e5</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>s_forum_button_bg_color</key>
		<dict>
			<key>color</key>
			<string>0</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>s_forum_button_line_color</key>
		<dict>
			<key>color</key>
			<string>0</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>s_forum_top_seach_bg_color</key>
		<dict>
			<key>color</key>
			<string>0</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>s_forum_seach_text_color</key>
		<dict>
			<key>color</key>
			<string>0</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>s_forum_button_text_color</key>
		<dict>
			<key>color</key>
			<string>0</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>s_forum_line_color</key>
		<dict>
			<key>color</key>
			<string>0</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>s_message_text_color</key>
		<dict>
			<key>color</key>
			<string>0</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>s_message_line_color</key>
		<dict>
			<key>color</key>
			<string>0</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>s_forum_find_plus_text_color_s</key>
		<dict>
			<key>color</key>
			<string>0x19427F</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
	</dict>
	<key>CP_BG_LINE</key>
	<dict>
		<key>C</key>
		<dict>
			<key>color</key>
			<string>0x242424</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>D</key>
		<dict>
			<key>color</key>
			<string>0x292929</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>E</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>color</key>
			<string>0x292929</string>
		</dict>
		<key>F</key>
		<dict>
			<key>color</key>
			<string>0x383838</string>
			<key>alpha</key>
			<real>0.92</real>
		</dict>
		<key>G</key>
		<dict>
			<key>color</key>
			<string>02e2e2e</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>H</key>
		<dict>
			<key>color</key>
			<string>0x2e2e2e</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>I</key>
		<dict>
			<key>color</key>
			<string>0x4d4d4d</string>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
		<key>J</key>
		<dict>
			<key>color</key>
			<string>0x333333</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>K</key>
		<dict>
			<key>color</key>
			<string>0x383838</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
	</dict>
	<key>CP_LINK_TIP</key>
	<dict>
		<key>A</key>
		<dict>
			<key>color</key>
			<string>0x2165bf</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>B</key>
		<dict>
			<key>color</key>
			<string>0x208dbf</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>C</key>
		<dict>
			<key>color</key>
			<string>0x4884d4</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>D</key>
		<dict>
			<key>color</key>
			<string>0xbf7a21</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>E</key>
		<dict>
			<key>color</key>
			<string>0x194e94</string>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>CP_OTHER</key>
	<dict>
		<key>A</key>
		<dict>
			<key>color</key>
			<string>0x7a21bf</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>B</key>
		<dict>
			<key>color</key>
			<string>0xbf2165</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>C</key>
		<dict>
			<key>color</key>
			<string>0x199440</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>D</key>
		<dict>
			<key>color</key>
			<string>0xa8a8a8</string>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
		<key>E</key>
		<dict>
			<key>color</key>
			<string>0xbfba21</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>F</key>
		<dict>
			<key>color</key>
			<string>0xbfa221</string>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
		<key>G</key>
		<dict>
			<key>color</key>
			<string>0x2b2b2b</string>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>CP_BTN</key>
	<dict>
		<key>A</key>
		<dict>
			<key>color</key>
			<string>0x2e2e2e</string>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
		<key>B</key>
		<dict>
			<key>color</key>
			<string>0xffffff</string>
			<key>alpha</key>
			<real>0.25</real>
		</dict>
		<key>C</key>
		<dict>
			<key>color</key>
			<string>0xffffff</string>
			<key>alpha</key>
			<real>0.08</real>
		</dict>
		<key>D</key>
		<dict>
			<key>color</key>
			<string>0x2165bf</string>
			<key>alpha</key>
			<real>0.5</real>
		</dict>
		<key>E</key>
		<dict>
			<key>color</key>
			<string>0x2165bf</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>F</key>
		<dict>
			<key>color</key>
			<string>0xbf2b21</string>
			<key>alpha</key>
			<real>0.5</real>
		</dict>
		<key>G</key>
		<dict>
			<key>color</key>
			<string>0xbf2b21</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
	</dict>
	<key>CP_ICECREAM</key>
	<dict>
		<key>A</key>
		<dict>
			<key>color</key>
			<string>0x2c3836</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>B</key>
		<dict>
			<key>color</key>
			<string>0x2c3438</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>C</key>
		<dict>
			<key>color</key>
			<string>0x362c38</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>D</key>
		<dict>
			<key>color</key>
			<string>0x38332c</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>E</key>
		<dict>
			<key>color</key>
			<string>0x382c2e</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
	</dict>
	<key>CP_MASK</key>
	<dict>
		<key>A</key>
		<dict>
			<key>color</key>
			<string>0x000000</string>
			<key>alpha</key>
			<real>0.33</real>
		</dict>
		<key>B33</key>
		<dict>
			<key>color</key>
			<string>0x000000</string>
			<key>alpha</key>
			<real>0.33</real>
		</dict>
		<key>B42</key>
		<dict>
			<key>color</key>
			<string>0x000000</string>
			<key>alpha</key>
			<real>0.42</real>
		</dict>
		<key>B50</key>
		<dict>
			<key>color</key>
			<string>0x000000</string>
			<key>alpha</key>
			<real>0.5</real>
		</dict>
		<key>B66</key>
		<dict>
			<key>color</key>
			<string>0x000000</string>
			<key>alpha</key>
			<real>0.66</real>
		</dict>
		<key>C25</key>
		<dict>
			<key>color</key>
			<string>0xffffff</string>
			<key>alpha</key>
			<real>0.25</real>
		</dict>
		<key>C50</key>
		<dict>
			<key>color</key>
			<string>0xffffff</string>
			<key>alpha</key>
			<real>0.5</real>
		</dict>
		<key>C83</key>
		<dict>
			<key>color</key>
			<string>0xffffff</string>
			<key>alpha</key>
			<real>0.83</real>
		</dict>
		<key>HUD</key>
		<dict>
			<key>color</key>
			<string>0x424242</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
	</dict>
	<key>CP_BORDER</key>
	<dict>
		<key>A</key>
		<dict>
			<key>color</key>
			<string>0xffffff</string>
			<key>alpha</key>
			<real>0.08</real>
		</dict>
		<key>B</key>
		<dict>
			<key>color</key>
			<string>0x000000</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
	</dict>
	<key>CP_INDICATOR</key>
	<dict>
		<key>A</key>
		<dict>
			<key>color</key>
			<string>0xffffff</string>
			<key>alpha</key>
			<real>0.16</real>
		</dict>
		<key>B</key>
		<dict>
			<key>color</key>
			<string>0xffffff</string>
			<key>alpha</key>
			<real>0.5</real>
		</dict>
		<key>C</key>
		<dict>
			<key>color</key>
			<string>0xffffff</string>
			<key>alpha</key>
			<real>0.33</real>
		</dict>
		<key>D</key>
		<dict>
			<key>color</key>
			<string>0xffffff</string>
			<key>alpha</key>
			<real>1</real>
		</dict>
	</dict>
	<key>LIVE_CP_CONT</key>
	<dict>
		<key>H</key>
		<dict>
			<key>color</key>
			<string>0xBF2B21</string>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>LIVE_CP_LINK_TIP</key>
	<dict>
		<key>A</key>
		<dict>
			<key>color</key>
			<string>0x2160BF</string>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
		<key>B</key>
		<dict>
			<key>color</key>
			<string>0x218ABF</string>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
		<key>C</key>
		<dict>
			<key>color</key>
			<string>0x3E6094</string>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
		<key>D</key>
		<dict>
			<key>color</key>
			<string>0xBF7A21</string>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
		<key>E</key>
		<dict>
			<key>color</key>
			<string>0x194A94</string>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>LIVE_CP_OTHER</key>
	<dict>
		<key>A</key>
		<dict>
			<key>color</key>
			<string>0x7A21BF</string>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
		<key>B</key>
		<dict>
			<key>color</key>
			<string>0xBF3F48</string>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
		<key>C</key>
		<dict>
			<key>color</key>
			<string>0x21BF2B</string>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
		<key>E</key>
		<dict>
			<key>color</key>
			<string>0xBFBA21</string>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
		<key>F</key>
		<dict>
			<key>color</key>
			<string>0xBFA521</string>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
		<key>G</key>
		<dict>
			<key>color</key>
			<string>0x807D75</string>
			<key>alpha</key>
			<real>0.92</real>
		</dict>
	</dict>
</dict>
</plist>
