<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaiduMapKey</key>
	<string>BgTtgGyd8UBziX8dtWtMfq4x2mBSxv2M</string>
	<key>BuildMachineOSBuild</key>
	<string>17G65</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>TBClient</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>TieBa10.3.31NoAd/icon.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>com.baidu.tieba</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TBClient</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tiebasdk</string>
				<string>tblaunch</string>
				<string>tencent101462192</string>
				<string>jdaea972f8fcb949430</string>
				<string>tencent100385258</string>
				<string>wx289a8c58bca4c71e</string>
				<string>wx77e0ce8ec8251e8d</string>
				<string>wx25a5ad4ed63c2176</string>
				<string>sinaweibosso.3826995480</string>
				<string>com.baidu.tieba</string>
				<string>tiebasharesdk1.0</string>
				<string>wb1821835724</string>
				<string>tbclient</string>
				<string>tbopen23831318</string>
				<string>iOStbclient</string>
				<string>prefs</string>
				<string>wb1511099634</string>
				<string>tiebaclient</string>
				<string>bdtiebalive</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>10.3.31.1</string>
	<key>DTAppStoreToolsBuild</key>
	<string>11B48b</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>17B102</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>13.2</string>
	<key>DTSDKBuild</key>
	<string>17B102</string>
	<key>DTSDKName</key>
	<string>iphoneos13.2</string>
	<key>DTXcode</key>
	<string>1120</string>
	<key>DTXcodeBuild</key>
	<string>11B500</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>alipay</string>
		<string>itms-beta</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqzone</string>
		<string>sinaweibo</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqwpa</string>
		<string>mqqbrowser</string>
		<string>wtloginmqq2</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>taobao</string>
		<string>alipays</string>
		<string>sinaweibohd</string>
		<string>sinaweibo</string>
		<string>sinaweibosso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>com.baidu.tieba</string>
		<string>com.baidu.nani</string>
		<string>wefan</string>
		<string>tbclientala</string>
		<string>tbgamelive</string>
		<string>tbmaster</string>
		<string>baiduboxapp</string>
		<string>baidubox</string>
		<string>baiduboxlite</string>
		<string>baiduhaokan</string>
		<string>bdminivideo</string>
		<string>baidumap</string>
		<string>bdnetdisk</string>
		<string>askmybaby</string>
		<string>xifan</string>
		<string>baiduboxmission</string>
		<string>pddopen</string>
		<string>duxiaomanloan</string>
		<string>bdbook</string>
		<string>baiduime</string>
		<string>baiduvideoiphone</string>
		<string>bdwenku</string>
		<string>iqiyi</string>
		<string>zhidao</string>
		<string>tbopen</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>12.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>系统将自动为您创建日历</string>
	<key>NSCameraUsageDescription</key>
	<string>若不允许，您将无法在贴吧中拍摄视频或照片</string>
	<key>NSContactsUsageDescription</key>
	<string>允许开放通讯录可以更好为您提供金融信贷服务，若不允许，您将无法在百度有钱花中正常使用金融服务。</string>
	<key>NSFaceIDUsageDescription</key>
	<string>请开启面容ID权限，以正常使用百度钱包面容ID支付。</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>位置获取后可以为您提供更精准的推荐服务</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>位置获取后可以为您提供更精准的推荐服务</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>位置获取后可以为您提供更精准的推荐服务</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>允许您在应用中进行语音并创建语音消息等</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>若不允许，您将无法使用系统相册发送照片和保存照片的功能</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>以便于使用发回贴等功能时上传图片</string>
	<key>NSRemindersUsageDescription</key>
	<string>系统将自动为您创建提醒事项</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeTask</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>点击自动一键签到</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>一键签到</string>
			<key>UIApplicationShortcutItemType</key>
			<string>First</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>firstShorcutKey1</key>
				<string>firstShortcutKeyValue1</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCaptureVideo</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>点击直接开始录制视频</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>录制视频</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Second</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>secondShortcutKey1</key>
				<string>secondShortcutValue1</string>
			</dict>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchImageFile</key>
	<string>LaunchImage</string>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>12.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-1200-Portrait-2688h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 896}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>12.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-1200-Portrait-1792h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 896}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>11.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-1100-Portrait-2436h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 812}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-Portrait-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-667h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 667}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv6</string>
		<string>arm64</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>VideoAppKey</key>
	<string>200072ZA</string>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
