<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SinfPaths</key>
	<array>
		<string>SC_Info/iThunder.sinf</string>
	</array>
	<key>SinfReplicationPaths</key>
	<array>
		<string>Frameworks/AFNetworking.framework/SC_Info/AFNetworking.sinf</string>
		<string>Frameworks/APlayerIOSFrameWork.framework/SC_Info/APlayerIOSFrameWork.sinf</string>
		<string>Frameworks/AdBlocker.framework/SC_Info/AdBlocker.sinf</string>
		<string>Frameworks/Alamofire.framework/SC_Info/Alamofire.sinf</string>
		<string>Frameworks/AutoCoding.framework/SC_Info/AutoCoding.sinf</string>
		<string>Frameworks/AvoidCrash.framework/SC_Info/AvoidCrash.sinf</string>
		<string>Frameworks/BRYSerialAnimationQueue.framework/SC_Info/BRYSerialAnimationQueue.sinf</string>
		<string>Frameworks/BrowserEngine.framework/SC_Info/BrowserEngine.sinf</string>
		<string>Frameworks/CocoaAsyncSocket.framework/SC_Info/CocoaAsyncSocket.sinf</string>
		<string>Frameworks/CocoaLumberjack.framework/SC_Info/CocoaLumberjack.sinf</string>
		<string>Frameworks/DAL.framework/SC_Info/DAL.sinf</string>
		<string>Frameworks/FMDB.framework/SC_Info/FMDB.sinf</string>
		<string>Frameworks/GCDWebServer.framework/SC_Info/GCDWebServer.sinf</string>
		<string>Frameworks/GoogleUtilities.framework/SC_Info/GoogleUtilities.sinf</string>
		<string>Frameworks/IQKeyboardManager.framework/SC_Info/IQKeyboardManager.sinf</string>
		<string>Frameworks/KTVCocoaHTTPServer.framework/SC_Info/KTVCocoaHTTPServer.sinf</string>
		<string>Frameworks/KTVHTTPCache.framework/SC_Info/KTVHTTPCache.sinf</string>
		<string>Frameworks/LKDBHelper.framework/SC_Info/LKDBHelper.sinf</string>
		<string>Frameworks/Lottie.framework/SC_Info/Lottie.sinf</string>
		<string>Frameworks/LzmaSDK_ObjC.framework/SC_Info/LzmaSDK_ObjC.sinf</string>
		<string>Frameworks/MBProgressHUD.framework/SC_Info/MBProgressHUD.sinf</string>
		<string>Frameworks/MJRefresh.framework/SC_Info/MJRefresh.sinf</string>
		<string>Frameworks/MMNG.framework/SC_Info/MMNG.sinf</string>
		<string>Frameworks/Masonry.framework/SC_Info/Masonry.sinf</string>
		<string>Frameworks/Moya.framework/SC_Info/Moya.sinf</string>
		<string>Frameworks/ObjectMapper.framework/SC_Info/ObjectMapper.sinf</string>
		<string>Frameworks/PlayerKit.framework/SC_Info/PlayerKit.sinf</string>
		<string>Frameworks/RESTfulApiDAL.framework/SC_Info/RESTfulApiDAL.sinf</string>
		<string>Frameworks/Reachability.framework/SC_Info/Reachability.sinf</string>
		<string>Frameworks/RegexKitLite.framework/SC_Info/RegexKitLite.sinf</string>
		<string>Frameworks/Result.framework/SC_Info/Result.sinf</string>
		<string>Frameworks/RxCocoa.framework/SC_Info/RxCocoa.sinf</string>
		<string>Frameworks/RxSwift.framework/SC_Info/RxSwift.sinf</string>
		<string>Frameworks/SDWebImage.framework/SC_Info/SDWebImage.sinf</string>
		<string>Frameworks/SDWebImageWebPCoder.framework/SC_Info/SDWebImageWebPCoder.sinf</string>
		<string>Frameworks/SSZipArchive.framework/SC_Info/SSZipArchive.sinf</string>
		<string>Frameworks/SnapKit.framework/SC_Info/SnapKit.sinf</string>
		<string>Frameworks/SwiftyBeaver.framework/SC_Info/SwiftyBeaver.sinf</string>
		<string>Frameworks/Toast.framework/SC_Info/Toast.sinf</string>
		<string>Frameworks/UnrarKit.framework/SC_Info/UnrarKit.sinf</string>
		<string>Frameworks/XLDownLoadLib.framework/SC_Info/XLDownLoadLib.sinf</string>
		<string>Frameworks/XLPush.framework/SC_Info/XLPush.sinf</string>
		<string>Frameworks/XLRealNameAuthentication.framework/SC_Info/XLRealNameAuthentication.sinf</string>
		<string>Frameworks/XLReport.framework/SC_Info/XLReport.sinf</string>
		<string>Frameworks/XLStatSDK.framework/SC_Info/XLStatSDK.sinf</string>
		<string>Frameworks/XLThirdPartyLib.framework/SC_Info/XLThirdPartyLib.sinf</string>
		<string>Frameworks/XLThirdPay.framework/SC_Info/XLThirdPay.sinf</string>
		<string>Frameworks/XLWheelOC.framework/SC_Info/XLWheelOC.sinf</string>
		<string>Frameworks/XXNibBridge.framework/SC_Info/XXNibBridge.sinf</string>
		<string>Frameworks/YYCache.framework/SC_Info/YYCache.sinf</string>
		<string>Frameworks/YYImage.framework/SC_Info/YYImage.sinf</string>
		<string>Frameworks/YYText.framework/SC_Info/YYText.sinf</string>
		<string>Frameworks/YYWebImage.framework/SC_Info/YYWebImage.sinf</string>
		<string>Frameworks/libwebp.framework/SC_Info/libwebp.sinf</string>
		<string>Frameworks/nanopb.framework/SC_Info/nanopb.sinf</string>
		<string>Frameworks/xlcommon.framework/SC_Info/xlcommon.sinf</string>
		<string>Frameworks/xllogin.framework/SC_Info/xllogin.sinf</string>
		<string>SC_Info/iThunder.sinf</string>
	</array>
</dict>
</plist>
