<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CP_SDK</key>
	<dict>
		<key>brand_color</key>
		<string>0xFF0050</string>
		<key>btn_bg_color</key>
		<string>0xFF0050</string>
		<key>btn_bg_color_end</key>
		<string>0xFF0050</string>
	</dict>
	<key>CP_CONT</key>
	<dict>
		<key>A</key>
		<string>0x292e47</string>
		<key>B</key>
		<string>0x000000</string>
		<key>C</key>
		<string>0x7e7f80</string>
		<key>D</key>
		<string>0x999999</string>
		<key>E</key>
		<string>0xcccccc</string>
		<key>F</key>
		<string>0x333333</string>
		<key>G</key>
		<string>0xffffff</string>
		<key>H</key>
		<string>0xf34f18</string>
		<key>I</key>
		<string>0xffffff</string>
		<key>J</key>
		<string>0x666666</string>
		<key>M</key>
		<string>0xdce6f5</string>
		<key>N</key>
		<string>0xffffff</string>
		<key>P</key>
		<string>0x18191a</string>
		<key>s_rightbar_switch_color</key>
		<string>0x33aaff</string>
		<key>s_navbar_title_color</key>
		<string>0x18191a</string>
		<key>s_navbar_icon_color</key>
		<string>0</string>
		<key>s_tabbar_text_color_n</key>
		<string></string>
		<key>s_tabbar_text_color_s</key>
		<string></string>
		<key>s_actionbar_text_line_color_s</key>
		<string>0x3385ff</string>
		<key>s_forum_button_bg_color</key>
		<string></string>
		<key>s_forum_button_line_color</key>
		<string></string>
		<key>s_forum_top_seach_bg_color</key>
		<string></string>
		<key>s_forum_seach_text_color</key>
		<string></string>
		<key>s_forum_button_text_color</key>
		<string></string>
		<key>s_forum_line_color</key>
		<string>0x000000</string>
		<key>s_message_text_color</key>
		<string></string>
		<key>s_message_line_color</key>
		<string></string>
		<key>s_forum_find_plus_text_color_s</key>
		<string>0x286ACC</string>
	</dict>
	<key>CP_BG_LINE</key>
	<dict>
		<key>A</key>
		<string>0xcccccc</string>
		<key>B</key>
		<string>0xe6e6e6</string>
		<key>C</key>
		<string>0xf0f0f0</string>
		<key>D</key>
		<string>0xffffff</string>
		<key>E</key>
		<string>0xf5f5f5</string>
		<key>F</key>
		<string>0xffffff</string>
		<key>G</key>
		<string>0xe3e4e5</string>
		<key>H</key>
		<string>0xe3e4e5</string>
		<key>I</key>
		<string>0xfafafa</string>
		<key>J</key>
		<string>0x4c6180</string>
		<key>K</key>
		<string>0x000000</string>
		<key>M</key>
		<string>0x262b42</string>
		<key>N</key>
		<string>0xffffff</string>
		<key>X</key>
		<string>0x1e2133</string>
	</dict>
	<key>CP_LINK_TIP</key>
	<dict>
		<key>A</key>
		<string>0x3385ff</string>
		<key>C</key>
		<string>0x3d6299</string>
		<key>D</key>
		<string>0xfa702a</string>
		<key>E</key>
		<string>0x1e2133</string>
		<key>F</key>
		<string>0x00c0f0</string>
		<key>G</key>
		<string>0x00acd7</string>
	</dict>
	<key>CP_OTHER</key>
	<dict>
		<key>A</key>
		<string>0x673699</string>
		<key>B</key>
		<string>0xff5460</string>
		<key>C</key>
		<string>0x26bf85</string>
		<key>D</key>
		<string>0x33aaff</string>
		<key>E</key>
		<string>0xff821c</string>
		<key>F</key>
		<string>0x4c6180</string>
		<key>G</key>
		<string>0xfff9e0</string>
		<key>H</key>
		<string>0x111214</string>
		<key>I</key>
		<string>0xff6619</string>
	</dict>
</dict>
</plist>
